h1 {
	font-size: 46px;
	text-align: center;
	margin: 25px;
}

body > div {
	width: 750px;
	margin: auto;
}

body {
	background-color: #82CAFA;
}

button {
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
  border-color: #ADD8E6;
  border-width: large;
  background-color: #FFD700;
}

section {
	width: 750px;
	margin: 20px auto;
	background-color: #ADD8E6;
	font-size: 22px;
	border-style: solid;
	border-color: #FFD700;
}

section div {
	margin: 20px 35px;
	text-align: left; 
}

a {
	color: blue;
}

footer p {
	text-align: center;
}